* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #inicio{
    display: block;
    }

  body {
  background-color: #95CCEB;
  font-family: 'Fredoka', sans-serif;
  }
  /*Animación nubes_inicio*/
  .nubes{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }

  .nubes div{
    position:absolute;
    display:block ;
  }

  .nubes div:nth-child(1){
    top: 5%;
    left: 20%;
    animation:fall 10s linear infinite;
    animation-delay:-1s;
  }

  .nubes div:nth-child(2){
    top: 30%;
    left: 20%;
    animation:fall 14s linear infinite;
    animation-delay:-4s;
  }

  .nubes div:nth-child(3){
    top: 55%;
    left: 20%;
    animation:fall 13s linear infinite ;
    animation-delay:-2s;
  }

  .nubes div:nth-child(4){
    top: 80%;
    left: 20%;
    animation:fall 10s linear infinite ;
    animation-delay:-1s;
  }

  @keyframes fall{
  0%{
    left: -10%;
    transform: translateX(20px);
  }
  20%{
    transform: translateX(-20px);
  }
  
  40%{
    transform: translateX(-20px);
  }
  
  60%{
    transform: translateX(-20px);
  }

  80%{
    transform: translateX(-20px);
  }

  100%{
    left:80%;
    transform: translateX(-20px);
  }

  }

  /*Animación nubes_fin*/   

  /*Caja de bienvenida*/   
  .cajabienvenida{
    display: flex;
    position: absolute;
    justify-content:center;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    top: 30%;
    left: 80px;
    margin-left: 60px ;
    margin-right: 30px;
    background: rgba(235, 227, 204, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }
  
  .bienvenida{
    color:#F9676A;
    font-family: 'Fredoka', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;
  }

  .entrada {
    color: #DD7577;
    font-family: 'Fredoka', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
  }

  #btnEntrar{
    width: 194.38px;
    height: 70.83px;
    border-radius: 8px;
    border: 1px solid #000000;
    color: #F5F5F5;
    font-family: 'Fredoka', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    background-color: #433945;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 15px;
  }

  #btnEntrar:hover{
    background-color: green;
    color: white;
    }
    
  .personajes {
    position: absolute;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction: column;
    top:40px
  }
  .imgper {
    width: 70%;
    height: 60%;
    justify-self:flex-end;
    bottom: 0%;}
  /*Empieza página catálogo*/   
  #pagina{
    display: none;
    }

  #pantallapeliculas{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  }
  .menusuperior{
  display:flex;
  position: absolute;
  flex-wrap: nowrap;
  width:90%;
  justify-content:space-evenly
  }    
  .logo{
  width: 20%;
  }
  .menusuperior h2{
  padding-top: 3%;
  font-size: 24px;
  }
    #btnRegresa, #btnPeliculas, #btndatosGhibli, #btnPersonajes{
      color:#d35456;
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 20%;
    cursor: pointer;
    }
    #btnPeliculas:hover,   #btnRegresa:hover ,  #btndatosGhibli:hover, #btnPersonajes:hover{
      background-color: #1C77A3FF;
      color: white;
    }
  /* empieza carrusel de peliculas*/ 
    .carruselcontainer{
      height: 480px;
      width: 90%;
      position:relative;
      overflow: hidden;
      scroll-behavior: smooth;
      top: 280px;
      left:100px;
  }
  .carrusel{
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  overflow: scroll;
  }
  .tarjeta{
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    width:250px;
    height: 480px;
    border-radius: 20px;
    text-align: center;
    background-color:rgba(233, 208, 151, 0.82);
    box-shadow: 0px 1px 10px rgba(0,0,0,0 .2);
    margin-right:1em;
    transition: transform 1s;
    transform-style: preserve-3d;
  
  }
  .tarjeta h3{
      margin-top: 15px;
      font-style: normal;
      font-weight:bolder;
      font-size: 30px;
      line-height: 42px;
      color: #008E90;
      justify-content:stretch;
  }
  .tarjeta img{
  width: 215px;
  height: 330px;
  margin-top: 1.3em;
  margin-bottom: 1em;
  justify-content: stretch;
  }
  .tarjeta p{
    margin-top: 15px;
    font-style: normal;
    font-weight:bolder;
    font-size: 18px;
    line-height: 27px;
    color: #008E90;
    justify-content:center;
}
  .contenedor-flip:hover .tarjeta {
    transform: rotateY(180deg);
  }
  .flecha{
      cursor: pointer;
      z-index: 3;
      top: 400px;
      height:20%;
      width: 70px;
      background-color: #008E90;
      opacity: 0.7;
      align-self: center;
      border-radius: 10px;
      
  }
  .izquierda{
      left: 50px;
      position: absolute;
  }
  .derecha{
      position:absolute;
      right:50px;
  }
/* inicia siguiente pantalla*/ 
#menufiltros{
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 200px;
  height: 10%;
  left: 15%;
  }
#filterpeliculas, #filtergenero, #filteredad, #filterespecie{
  background-color: #72a3a1;
  font-family: 'Fredoka', sans-serif;
  font-size: 23px;
  font-weight: 700;
  width: 60%;
  height: 50%;
  border-radius: 20px;
}
.todoslospersonajes{
  display: flex;
  top:300px;
  width: 85%;
  height: fit-content;
  position: absolute;
  left:150px;
}
.contenedor-flip{
  display: flex;
  background-color: transparent;
  perspective: 1000px; 
}
.cardpersonajes{
  cursor: pointer;
  width:200px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  background-color:rgba(233, 208, 151, 0.82);
  box-shadow: 0px 1px 10px rgba(0,0,0,0 .2);
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.contenedor-flip:hover .cardpersonajes {
  transform: rotateY(180deg);
}
.frente,.posterior {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 5rem;  
}
.frente {
  color: transparent;
}
.posterior {
  border-radius: 30px;
  background-color: transparent;
  transform: rotateY(180deg);
}
.cardpersonajes img{
  width: 150px;
  height: 180px;
  margin-top: 30px;
  justify-content: stretch;
  margin-bottom: 10px;
  margin-top :30px;
  border-radius: 5px;
  }
.cardpersonajes h3{
  margin-top: 15px;
  font-family: 'Fredoka', sans-serif;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  color: #027e80;
  justify-content: stretch;
}
.cardpersonajes h2{
  font-size: 35px;
  font-weight: bold;
}
/*esta creo que no tiene razón de ser */ 
    .buttoninfo{
      position: absolute;
      background-color: #6BB3A8;
      border: .5;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      color:azure;
      left: 800px;
      top:200px;
  } 
/* Inicia siguiente pantalla*/ 
  #datosGhibli{
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    }
.titulotopcinco{
  display: flex;
  position: absolute;
  justify-content:center;
  top: 180px;
  left: 280px;
  width: 60%;
  align-items:center;
  font-size: 42px;
  color:green ;
  font-family: 'Fredoka', sans-serif;
  font-style: normal;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
}
  #imprimetopcinco{
      width: 60%;
      display: flex;
      align-items:center;
      align-self: center;
      gap: 1em;
      opacity: 1;
      position: absolute;
      top: 300px;
      left: 340px;
      font-family: 'Fredoka', sans-serif;
      font-size: 22px;
      text-align: center;
      color: #027e80;
      flex-wrap: nonwrap;
  }
  
  /* Atributos del Chart*/ 
  .titulodatosDirectores{
    display: flex;
    position: absolute;
    justify-content:center;
    top: 800px;
    width: 100%;
    align-items:center;
    font-size: 42px;
    color:green ;
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;
  }
  .chart{
    flex: none;
    display: flex;
    position: absolute;
    align-items: center;
    top: 950px;
    left: 500px;
    width: 50%;
    height: 40%;
    position: absolute;
    border-radius: 10px;
    background: rgba(242, 225, 184, 0.82);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    pointer-events: none;
  }
  #myChart{
    justify-self: center;
  }
  /* Inicia pantalla de personajes */ 
#imprimirpersonajes{
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  flex-direction: row;
  display:flex;
  justify-content: space-around;
  gap:2em;
}
  #personajes{
  display: none;
  }
  .arriba{
    position: fixed;
    bottom:400px;
    right: 32px;
    display:flex; 
    align-items: center;
    justify-content: center;
    font-size: 32px;
    opacity: 1;
    pointer-events: auto;
    transition: all.4s;
  }
  .arriba img{
    width: 70px;
  }
  html{
    scroll-behavior: smooth;
  }

